* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightskyblue;
}

.container {
  margin: auto;
  margin-top: 20vh;
  width: 50%;
  height: 30vh;
}

.container .coluna-left {
  float: left;
  position: relative;
  margin-top: 5px;
  padding-left: 15px;
  padding-bottom: 5px;
  width: 20%;
}

.container .coluna-right {
  float: right;
  position: relative;
  margin-top: 5px;
  padding-right: 15vw;
  padding-bottom: 5px;
  width: 20%;
}

.cor-do-label{  
  font-size: 20px;
  margin: auto;
  padding-left: 10px;
  color: white;
}

.input {
  background-color: lavender;
  border: whitesmoke;
  border-radius: 10px;
  transition-duration:0.4s;
  padding-left: 10px;
  font-size: 15px;
  width: 23vw;
  height: 6vh;
  margin: 10px;
  outline: none;
}

.input:hover{
  background-color: lightpink;
  box-shadow: 0 10px 8px 0 rgba(0,0,0,0.10);
}

.input:focus {
  background-color: lightpink;
}

.container .div-btn {
  float: right;
  margin:0%
}

.container .div-btn .btn{
  background-color: gray;
  transition-duration:0.6s;
  border-radius: 5px;
  font-size: 17px;
  text-align: center;
  border: none;
  color: lightpink;
  width: 20vw;
  height: 3vh;
}

.container .div-btn .btn:hover{
  color: white;
  cursor: pointer;
  background-image: linear-gradient(to right, white, lightgray);
  box-shadow: 0 10px 8px 0 rgba(0,0,0,0.15);
}